easydict==1.9
ffmpeg==1.4
gpustat==0.6.0
imageio==2.6.1
ipython==7.9.0
ipython-genutils==0.2.0
matplotlib==3.0.3
numpy==1.17.4
Pillow==6.2.1
PyYAML==5.3
scipy==1.4.0
setGPU==0.0.7
six==1.13.0
sk-video==1.1.10
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
tensorflow-probability==0.7.0
dm-sonnet==1.23
joblib==0.14.1
pandas
opencv-python