absl-py==0.9.0
alabaster==0.7.12
argh==0.26.2
astor==0.8.1
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.5
Babel==2.8.0
backcall==0.1.0
bleach==3.1.0
blessings==1.7
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cloudpickle==1.2.2
coloredlogs==10.0
cryptography==2.8
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
diff-match-patch==20181111
dm-sonnet==1.23
docutils==0.16
easydict==1.9
entrypoints==0.3
ffmpeg==1.4
flake8==3.7.9
gast==0.2.2
google-pasta==0.1.8
gpustat==0.6.0
grpcio==1.25.0
h5py==2.10.0
helpdev==0.6.10
humanfriendly==4.18
idna==2.8
imageio==2.6.1
imagesize==1.2.0
importlib-metadata==1.4.0
intervaltree==3.0.2
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.14.1
jeepney==0.4.2
Jinja2==2.10.3
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==20.0.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
llvmlite==0.31.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.1.0
nbconvert==5.6.1
nbformat==5.0.3
nose==1.3.7
notebook==6.0.3
numba==0.47.0
numpy==1.17.4
numpydoc==0.9.2
nvidia-ml-py3==7.352.0
opencv-contrib-python==4.2.0.32
opencv-python==3.4.2.17
opt-einsum==3.1.0
packaging==20.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.2
pathtools==0.1.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
pkg-resources==0.0.0
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.11.1
psutil==5.6.7
ptyprocess==0.6.0
pycodestyle==2.5.0
pycparser==2.19
pydocstyle==5.0.2
pyflakes==2.1.1
Pygments==2.5.2
pylint==2.4.4
pyparsing==2.4.5
PyQt5==5.12.3
PyQt5-sip==12.7.0
PyQtWebEngine==5.12.1
pyrsistent==0.15.7
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.6
pytz==2019.3
pyxdg==0.26
PyYAML==5.3
pyzmq==18.1.1
QDarkStyle==2.7
QtAwesome==0.6.1
qtconsole==4.6.0
QtPy==1.9.0
requests==2.22.0
rope==0.16.0
scikit-gstat==0.2.7
scikit-learn==0.22.1
scipy==1.4.0
seaborn==0.9.1
SecretStorage==3.1.2
Send2Trash==1.5.0
setGPU==0.0.7
Shapely==1.6.4.post2
simplegeneric==0.8.1
six==1.13.0
sk-video==1.1.10
snowballstemmer==2.0.0
sortedcontainers==2.1.0
Sphinx==2.3.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
spyder==4.0.1
spyder-kernels==1.8.1
spyder-terminal==0.2.4
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
tensorflow-probability==0.7.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.1
ujson==1.35
urllib3==1.25.7
watchdog==0.9.0
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==2.0.0
yapf==0.29.0
zipp==1.0.0
